@model iSupportFeedback.Models.FeedbackEntryInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FeedbackEntryInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogEntryLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogEntryLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Browser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Browser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccuranceCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccuranceCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeedbackEntry.Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeedbackEntry.Hash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackEntry.Hash)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
